name: "Run tests on merge to main"
on:
  pull_request:
    branches: [main]
jobs:
  test:
    name: Test
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        go-version: ["1.24", "1.25"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Run tests
        run: |
          sudo apt -y update && sudo apt -y install nasm
          make test
